@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}




.gradient-background {
  /* background: radial-gradient(circle, #4Ff6ff, #ff95f6, #ffdde1); */

  background: linear-gradient(120deg,#4Ff6ff, #ff95f6, #ffdde1, #ACB6E5);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
  height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  30% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}